src/main/resources/schemas/pred.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
    targetNamespace="http://parlament.gov.rs/rs.ac.uns.ftn.model.pred/"
    xmlns:pred="http://parlament.gov.rs/rs.ac.uns.ftn.model.pred/">

    <xs:element name="napravio"/>
    <xs:element name="korisnik"/>
    <xs:element name="menja"/>
    <xs:element name="pripada"/>
    <xs:element name="amandman"/>
    <xs:element name="akt"/>
</xs:schema>
